<!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body>
    <h1>About</h1>
    <p>About Weather App
        This is a simple app that finds live weather information in any city.<br>
        Search for weather conditions anywhere with this easy to use app with a
        clean interface.<br>
        Notable Features are:<br>
        API Integration<br>
        User Accounts<br>
        Security Features<br>
        Quick and Easy searching
    </p>
    <button onclick="location.href='/usr/198/home'">Back</button>
  </body>
</html>
