<!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body>
    <h1>Home</h1>
    <button onclick="location.href='/usr/198/weather'">Search Locations</button>
    <button onclick="location.href='/usr/198/about'">About</button>
    <form action="/usr/198/logout" method="POST">
        <button>Log Out</button>
    </form>
  </body>
</html>
