<!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body>
    <h1>Register</h1>
    <form method="POST" action="/usr/198/registered">
        <p>username: <input id="username" type="text" name="username"/></p>
        <p>password: <input id="password" type="text" name="password"/></p>
        <input type="submit" value="Register" />
      </form>
      <button onclick="location.href='/usr/198/login'">Login</button>
  </body>
</html>
