<!doctype html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" href="main.css"/>
  </head>
  <body>
    <h1>Welcome</h1><br>
    <button onclick="location.href='/usr/198/rejister'">Register</button><br>
    <button onclick="location.href='/usr/198/login'">Login</button>
  </body>
</html>
